name: Publish Package

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**.md"
      - ".editorconfig"
      - '**/*.gitignore'
      - '**/*.gitattributes'
      - '**/*.yml'

jobs:
  build:
    name: Publish Package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          # Fetches all commits (needed for lerna / semantic release to correctly calculate version)
          fetch-depth: 0
          # Whether to check out submodules: `true` to check out submodules or `recursive` to recursively check out submodules.
          submodules: "recursive"

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.1
        with:
          global-json-file: ./global.json

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Run tests
        run: dotnet test --no-restore --verbosity normal

      - name: Pack
        run: dotnet pack --no-build --configuration Release

      - name: Push to NuGet
        run: dotnet nuget push **/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
